
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');




.port-container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
}

.port-row {
    display: flex;
    flex-wrap: wrap;
}


header{
    left: 0;
    right: 0;
    z-index: 20;
    transition: .8s;
    padding: 15px;
    position: fixed;
    background-color: var(--color1);
}

header .port-row.header-wrap {
    justify-content: space-between;
    align-items: center;
}


.port-navbar {
    display: none;
}

.navbar-toggle i {
font-size: 1.25rem;
line-height: 30px;
cursor: pointer;
color: var(--color1);
}

.theme-toggle {
    position: fixed;
    top: 50%;
    z-index: 10;
    right: 0;
    border: none;
    background-color: var(--color2);
}

body:not(.dark) .theme-toggle .lni-night,
body.dark .theme-toggle .lni-sun {
    cursor: pointer;
    color: var(--bg-color2);
    padding: 10px 10px;
    display: block;
    font-size: 1.25rem;
}

body:not(.dark) .theme-toggle .lni-sun {
    display: none;

}

body.dark .theme-toggle .lni-night {
    display: none;
}

header.header-sticky {
    position: fixed;
    background-color: #f5f5f5;
    z-index: 2000;
    transition: .4s;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

body.dark {
    --bg-color1: #0b0f19;
    --bg-color2: #1c1e2a;
    --color1: #FFF;
    --color2: #DDD;
}

body:not(.dark) {
    --bg-color1: #fbfdff;
    --bg-color2: #f5f5f5;
    --color1: #3e4455;
    --color2: #000;
}
